@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto&family=Titillium+Web:ital,wght@0,200;1,200&display=swap");
* {
  padding: 0;
  margin: 0; }

body {
  background: linear-gradient(#674ea700, #b2a60200), url(../assets/game-wallpaper.jpg); }

/* Sección Main */
main {
  background-color: #674ea79b; }

.card-hover img {
  height: 300px;
  width: 200px; }

.card-hover {
  width: 100%;
  background-color: #281C4C;
  color: #fff; }

/* Sección Header */
.menu {
  background-color: #fff000;
  position: fixed;
  width: 100%;
  z-index: 1000;
  color: #000;
  font-weight: 600;
  font-size: 20px; }
  .menu .title-shop {
    font-family: "Press Start 2P"; }

.hero {
  text-align: center;
  color: #fff;
  text-shadow: 5px 5px 2px #161616;
  /* animación */
  animation-duration: 1.5s;
  animation-name: slidein; }
  .hero h1 {
    margin-bottom: 3rem;
    font-size: 46px;
    color: #fff;
    font-family: "Press Start 2P"; }
  .hero p {
    color: #fff;
    font-family: "Anton", sans-serif;
    letter-spacing: 2px; }

/* card de productos */
.card-hover {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .card-hover:hover {
    transform: scale(1.1);
    transition: 250ms;
    background-color: #ffeeee;
    color: #000; }

/* Sección Footer */
.footer {
  background-color: #fff000;
  padding: 3rem; }
  .footer .footer-section {
    display: flex;
    justify-content: space-between; }
    .footer .footer-section .footer-section__rrss {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }

.tag-legal {
  text-align: center; }
  .tag-legal span {
    font-family: "Press Start 2P"; }

/* seccion de ofertas */
.product-section {
  background-color: #fff000;
  text-align: center; }
  .product-section h2 {
    font-size: 32px;
    padding-bottom: 5rem;
    font-family: "Press Start 2P"; }

/* seccion de categorias */
.featured-product {
  text-align: center;
  padding: 5rem;
  width: 100%; }
  .featured-product h2 {
    padding-bottom: 1rem;
    font-family: "Press Start 2P";
    font-size: 32px;
    text-shadow: 5px 5px 2px #161616;
    color: #ffeeee; }
  .featured-product p {
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;
    text-shadow: 5px 5px 2px #161616;
    color: #ffeeee;
    padding-bottom: 3rem; }
  .featured-product .category-product {
    display: flex;
    justify-content: space-between; }
    .featured-product .category-product a {
      text-decoration: none; }
      .featured-product .category-product a:hover {
        transform: scale(1.1);
        transition: 250ms; }
    .featured-product .category-product .category-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      width: 300px;
      height: 300px;
      background-color: red; }
      .featured-product .category-product .category-1 img {
        width: 150px; }
    .featured-product .category-product .category-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      width: 300px;
      height: 300px;
      background-color: green; }
      .featured-product .category-product .category-2 img {
        width: 150px; }
    .featured-product .category-product .category-3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      width: 300px;
      height: 300px;
      background-color: blue; }
      .featured-product .category-product .category-3 img {
        width: 150px; }

/* Pagina de Producto */
.products-title {
  padding: 5rem;
  color: #fff;
  text-align: center;
  text-shadow: 5px 5px 2px #161616;
  /* animación */
  animation-duration: 1s;
  animation-name: slidein; }

.products-title h1 {
  margin-bottom: 2rem; }

.products-section {
  background-color: #fff000; }

.products-section__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1rem;
  justify-items: center;
  text-align: center; }

.products-section__option {
  text-align: center;
  padding-top: 2rem; }

/* formulario */
.form-title {
  padding: 5rem;
  color: #fff;
  text-align: center;
  text-shadow: 5px 5px 2px #161616;
  /* animación */
  animation-duration: 1s;
  animation-name: slidein; }

.form-section {
  text-align: center;
  background-color: #fff000;
  padding: 5rem; }

/* Seccion de Preguntas */
.questions {
  padding: 5rem;
  color: #fff;
  text-shadow: 5px 5px 2px #161616; }

.questions h2 {
  text-align: center; }

.questions p {
  margin-top: 1rem; }

/* ---------- media query tablet --------- */
@media only screen and (max-width: 1024px) {
  /* seccion de ofertas */
  .product-section .product-section__offers {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 0; }
  .products-title {
    padding: 2rem; }
  /* sección de categorias */
  .category-product {
    flex-direction: column;
    gap: 3rem;
    align-items: center; }
  /* sección de productos */
  .products-section__list {
    grid-template-columns: repeat(2, 1fr); }
  /* sección de formulario */
  .form-section {
    padding: 3rem; } }

/* ----------- media query mobile ----------*/
@media only screen and (max-width: 480px) {
  .hero h1 {
    font-size: 20px; }
  /* seccion de ofertas */
  .product-section .product-section__offers {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem 0; }
  .products-title {
    padding: 2rem; }
  /* sección de categorias */
  .featured-product {
    padding: 1rem; }
    .featured-product h2 {
      font-size: 20px; }
    .featured-product .category-product {
      flex-direction: column;
      gap: 3rem;
      align-items: center; }
  /* sección de menu */
  a.navbar-brand {
    font-size: 13px;
    text-align: center; }
  /* seccion de hero */
  .hero {
    padding: 2rem; }
  /* sección de productos */
  .products-section__list {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; }
  /* sección de formulario */
  .form-section {
    padding: 1rem; }
  /* sección de preguntas */
  .questions {
    padding: 2rem; }
  /* sección de footer */
  .footer {
    padding: 0.5rem; }
    .footer .footer-section {
      flex-direction: column-reverse;
      text-align: center;
      gap: 1rem; }
      .footer .footer-section .footer-section__rrss {
        flex-direction: initial;
        justify-content: space-around; } }

/* Animaciones  */
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%; }
  to {
    margin-left: 0%;
    width: 100%; } }
