// formulario
.form-title {
    padding: 5rem;
    color: $color-font-primary;
    text-align: center;
    text-shadow: 5px 5px 2px $color-shadows-primary;

    /* animación */
    animation-duration: 1s;
    animation-name: slidein;
}

.form-section {
    text-align: center;
    background-color: $color-bg-second;
    padding: 5rem;
}

// Seccion de Preguntas
.questions {
    padding: 5rem;
    color: $color-font-primary;
    text-shadow: 5px 5px 2px $color-shadows-primary;
}

.questions h2 {
    text-align: center;
}

.questions p {
    margin-top: 1rem;
}