// seccion ofertas
.product-section {
    background-color: $color-bg-second;
    text-align: center;

    h2 {
        font-size: $font-size-3;
        padding-bottom: $spacer-5;
    }

    .producto-section__offers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;

        img {
            height: -webkit-fill-available;
        }
    }
}

// seccion destacados
.featured-product {
    text-align: center;
    padding: $spacer-5;
    width: 100%;
    text-shadow: 5px 5px 2px $color-shadows-primary;
    color: $color-bg-thrid;
    
    h2 {
        padding-bottom: $spacer-4;
    }

    img {
        width: auto;
        height: 500px;
        margin: $spacer-1;
        max-width: 100%;
    }
}
