/* Sección Header */
.menu {
    background-color: $color-bg-second;
    position: fixed;
    width: 100%;
    z-index: 1000;  
    color: $color-font-second;
    font-weight: $font-weight-bold;
    font-size: $font-size-2;
    .title-shop{
        font-family: $font-main;
    }
}
