/* Sección Header */
.menu {
    background-color: #fff000;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.menu__nav {
    padding: 1rem;
    text-align: end;
}

.menu__nav-icon {
    float: left;
}

.menu__nav-icon span{
    font-size: 1.5rem;
}

.menu__nav-list li {
    display: inline;
    font-size: 2.5rem;
    padding: 1rem;
}

.menu__nav-list li a {
    text-decoration: none;
    color: #000;
}
