@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&family=Titillium+Web:ital,wght@0,200;1,200&display=swap');


*{
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(#674ea700, #b2a60200), url(../assets/game-wallpaper.jpg);
}

/* Sección Main */
main {
    background-color: $color-bg-primary;
}