//vars de background colors
$color-bg-primary:#674ea79b;
$color-bg-second: #fff000;
$color-bg-thrid: #ffeeee;
$color-bg-card: #281C4C;

//vars de fonts colors
$color-font-primary:#fff;
$color-font-second:#000;

//vars de fonts
$font-main:'Press Start 2P';
$font-second: 'Anton', sans-serif;

//vars de fonts size
$font-size-1: 16px;
$font-size-2: 20px;
$font-size-3: 32px;
$font-size-4: 46px;

//vars de fonts weight
$font-weight-thin: 300;
$font-weight-bold: 600;
$font-weight-heavy: 800; 

//vars de sombras
$color-shadows-primary:#161616;

//vars de espacios
$spacer-0: 0.5rem;
$spacer-1: 1rem;
$spacer-2: 2rem;
$spacer-3: 3rem;
$spacer-4: 4rem;
$spacer-5: 5rem;


